/* App.css */
.dynamic-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;

}

.form-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form-control {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-control:focus {
  border-color: #757272;
  outline: none;
}

.btn {
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn1 {
  width: 645px;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn2 {
  padding: 8px 12px;
  width: 645px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-danger {
  background-color: #ff4d4d;
  color: white;
}
